address {
    font-style: italic;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: transparent;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
/* Styles for the Organising your Post page */
@media (min-width: 768px) {
    .hasNav .container {
        margin: 0 0 0 5%;
    }
}
.hasNav .container {
    overflow: auto;
}
.dropdown {
    cursor: pointer
}
pre code {
    color: #c7254e;
}
body.hasNav {
    padding-top: 30px;
    position: relative;
    margin-bottom: 60px;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.yellow {
    color: gold;
}
.green {
    color: green;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #dcdcdc;
    padding-top: 12px;
}
a.text-muted:hover {
    color: #777;
}
.big {
    font-size:larger;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
}
section {
    margin-bottom: 1rem;
}
